@charset "utf-8";

/*=======*/
/* INDEX */
/*=======*/

/* index：スライダー
-----------------------------------*/
#slider {
	width: 615px;
	margin: 0 auto;
}


/* index：各セクション
-----------------------------------*/
#index-contentscolumn > section {
	margin-top: 25px;
}

/* 2014.2.22不要削除
#index-contentscolumn > section > div > h2 {
	color: #f95d1b;
	font-size: 107%;
	margin-bottom: 10px;
}*/

.comingsoon {
	text-align: center;
	font-size: 121%;
	font-weight: bold;
	margin: 40px; 0;
}

/* KEYWORDS */
#index-column .multicolumn img {
	border: solid 2px #f95d1b;
	max-width: 170px;
}

#index-column h3 {
	font-size: 130%;
	font-weight: bold;
	line-height: 1.3;
}

/* COLUMN,CHANNEL */
#index-keywords ul,
#index-channel ul {
	width: 584px;
	overflow: hidden;
}

#index-keywords ul li,
#index-channel ul li {
	float: left;
	width: 276px;
	margin-right: 15px;
}

#index-keywords ul li:nth-child(2),
#index-channel ul li:nth-child(2) {
	width: 276px;
	border-left: solid 2px #005;
	padding-left: 15px;
	margin-right: 0;
}

#index-keywords ul li h3,
#index-channel ul li h3 {
	font-size: 107%;
	font-weight: bold;
	line-height: 1.3;
}

#index-keywords ul li p.post {
	margin-top: 10px;
}


/*=======*/
/* ABOUT */
/*=======*/
#about .box h2 {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 0 0 15px;
}

#about .box p {
	margin-bottom: 15px;
}

#about ul {
	overflow: hidden;
}

#about ul li {
	float: left;
	margin-right: 13px;
}

#about ul li:last-child {
	margin-right: 0;
}

#about ul li {
	color: #3b5988;
	font-size: 77%;
}

#about ul li img {
	margin-bottom: 5px;
}




/*==================*/
/* 大学からのご案内 */
/*==================*/
#info h1 {
	padding: 8px 13px 10px;
	background-color: #005;
}

#info h2 {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 40px 0 15px;
}

#info div + h2 {
	margin-top: 0;
}

#info a:link,
#info a:visited {
	color: #e55c26;
	text-decoration: underline;
}

#info a:hover,
#info a:active {
	color: #e55c26;
	text-decoration: none;
}


/*==========*/
/* 新着情報 */
/*==========*/
#news h1 {
	padding: 8px 13px 10px;
	background-color: #005;
}

#news dl dt {
	margin-top: 15px;
}

#news dl dt:first-child {
	margin-top: 0;
}

/* エントリー */
#news .entry-title {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 0 0 10px;
}

/* サイド */
#side-archive ul+h1 {
	margin-top: 25px;
}

#side-archive {
	width: 258px;
	margin-bottom: 25px;
}

#side-archive h1 {
	font-size: 114%;
	font-weight: bold;
}

#side-archive ul li {
	margin-top: 10px;
}

#side-archive ul li p.post {
	font-size: 94%;
}

#side-archive > p {
	text-align: right;
	margin-top: 10px;
}

#side-archive > p a:link,
#side-archive > p a:visited {
	color: #333;
	text-decoration: none;
}

#side-archive > p a:hover,
#side-archive > p a:active {
	color: #e55c26;
	text-decoration: none;
}


/*============*/
/* キーワード */
/*============*/
#keywordscolumn {
	width: 585px;
	overflow: hidden;
}

#keywordscolumn #categorycolumn {
	float: left;
	width: 408px;
}

/* エントリー */
#keywords .entry-title {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 0 0 10px;
}

/* カテゴリー */
/* 2014.3.4不要削除
#keywords #categorycolumn #category-title {
	font-size: 114%;
	font-weight: bold;
}

#keywords #categorycolumn #category-title span {
	color: #3b5988;
}*/

#keywords #categorycolumn .entry-body {
	padding-bottom: 15px;
	margin-top: 15px;
	border-bottom: solid 1px #999;
}

#keywords #categorycolumn .entry-title {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 0;
}

#keywords #categorycolumn .entry-content p {
	margin: 0;
}


/*========*/
/* コラム */
/*========*/
/* エントリー */
#column .entry-title {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 0 0 10px;
}

#column .entry-post {
	text-align: right;
}


/*============*/
/* チャンネル */
/*============*/
/* エントリー */
#channel .entry-title {
	color: #3b5988;
	font-size: 154%;
	font-weight: bold;
	margin: 0 0 10px;
}


/*==========*/
/* 投稿記事 */
/*==========*/
.entry-body .entry-content p {
	margin: 15px 0;
	text-indent: 1em;
}

.entry-body .entry-content h1 {
	font-size: 2.4em;
	border: none;
}

.entry-body .entry-content h2 {
	font-size: 2em;
}

.entry-body .entry-content h3 {
	font-size: 1.6em;
}

.entry-body .entry-content h4 {
	font-size: 1.4em;
}

.entry-body .entry-content h5 {
	font-size: 1em;
}

.entry-body .entry-content h6 {
	font-size: 0.9em;
}

.entry-body .entry-content h1,
.entry-body .entry-content h2,
.entry-body .entry-content h3,
.entry-body .entry-content h4,
.entry-body .entry-content h5,
.entry-body .entry-content h6 {
	margin: 10px 0px !important;
	color: #3b7db8 !important;
}

.entry-body .entry-content ul,
.entry-body .entry-content ol {
	margin: 10px 0 15px 30px;
}

.entry-body .entry-content ul li {
	list-style: disc;
}

.entry-body .entry-content ul ul,
.entry-body .entry-content ol ol,
.entry-body .entry-content ul ol,
.entry-body .entry-content ol ul {
	margin-bottom: 0;
}

.entry-body .entry-content dl {
	margin: 10px 0 15px;
}

.entry-body .entry-content dl dt {
	font-size: 1.4em;
}

.entry-body .entry-content dl dd {
	text-indent: 2em;
}

.entry-body .entry-content blockquote {
	font-style: italic;
	padding: 0 30px;
}

.entry-body .entry-content blockquote cite,
.entry-body .entry-content blockquote em,
.entry-body .entry-content blockquote i {
	font-style: normal;
}

/* 投稿画像 */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	/*max-width: 100%;
	height: auto;*/
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}

.wp-caption {
	text-align: center;
}

p.wp-caption-text {
	margin: 0;
}


/*============*/
/* ページナビ */
/*============*/

.wp-pagenavi {
	clear: both;
	margin: 30px auto 0;
	width: 585px;
	text-align: center;
}

.wp-pagenavi a {
	padding: 3px 5px;
	margin: 2px;
	color: #333;
}

.wp-pagenavi a:hover {
	color: #f00;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

